{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
{% load markdown_deux_tags %}
<!-- Posts Section -->
<section class="w-full md:w-2/3 flex flex-col items-center px-3">
        <article class="flex flex-col shadow my-4">
            <div class="bg-white flex flex-col justify-start p-6">
                </p>
                <h1 class="text-2xl font-bold pb-3">Who We Are:</h1>
                    <p class="pb-3">
                        myPanda is more than just a blog; it's a vibrant community of thinkers, creators, and enthusiasts from all walks of life. Whether you're a seasoned professional seeking career advice, a hobbyist looking for creative inspiration, or simply someone eager to explore new ideas, myPanda is your virtual sanctuary.
                    </p>
                    <br>
                    <h1 class="text-2xl font-bold pb-3">What We Offer:</h1>
                    <p class="pb-3">
                        Diverse Content: From tech trends to travel tips, wellness advice to world news, myPanda covers a wide array of topics curated to pique your interest and expand your horizons. <br>
                        Expert Insights: Our team of writers and contributors are experts in their respective fields, delivering well-researched, thought-provoking articles that provide valuable insights and actionable advice. <br>
                        Community Engagement: We believe in the power of community. Join the conversation, share your thoughts, and connect with like-minded individuals through our interactive platform and social channels. <br>
                        Inspiration and Motivation: Whether you're seeking motivation to pursue your passions or inspiration to overcome challenges, myPanda is here to uplift and empower you on your journey.
                    </p>

                        <br>

                        <h1 class="text-2xl font-bold pb-3">Why Choose myPanda:</h1>
                        <p class="pb-3">
                        Quality Content: We're committed to delivering content that informs, entertains, and inspires. Each article is meticulously crafted to ensure relevance, accuracy, and readability. <br>
                        User-Friendly Experience: Navigating myPanda is a breeze. Our intuitive interface and user-friendly design make it easy to find the content you love and discover new favorites. <br>
                        Constant Innovation: We're always evolving to meet the needs of our readers. From introducing new features to exploring emerging trends, we're dedicated to staying ahead of the curve. <br>
                        Community-Centric Approach: At myPanda, you're not just a reader – you're part of our family. We value your feedback, ideas, and contributions, and strive to create a welcoming environment where everyone feels heard and appreciated.
                        </p>
    
                            <br>
                        
                            <h1 class="text-2xl font-bold pb-3">Join Us Today:</h1>
                        <p class="pb-3">
                            Ready to embark on a journey of discovery and inspiration? Dive into the world of myPanda and unlock a treasure trove of knowledge, creativity, and connection. Whether you're here to learn, explore, or simply unwind, we invite you to make myPanda your go-to destination for all things meaningful and enriching. Welcome aboard!</p>
                        </p>
    
                            <br>

            </div>
        </article>

        <!-- Pagination -->
        <!-- <div class="flex items-center py-8">
            <a href="#" class="h-10 w-10 bg-blue-800 hover:bg-blue-600 font-semibold text-white text-sm flex items-center justify-center">1</a>
            <a href="#" class="h-10 w-10 font-semibold text-gray-800 hover:bg-blue-600 hover:text-white text-sm flex items-center justify-center">2</a>
            <a href="#" class="h-10 w-10 font-semibold text-gray-800 hover:text-gray-900 text-sm flex items-center justify-center ml-3">Next <i class="fas fa-arrow-right ml-2"></i></a>
        </div> -->

</section>
{% endblock %}