{% extends 'base.html' %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
{% load markdown_deux_tags %}
<!-- Posts Section -->
<section class="w-full md:w-2/3 flex flex-col items-center px-3">
    {% for post in category.posts.all %}
        <article class="flex flex-col shadow my-4">
            <!-- Article Image -->
            {% if post.image %}
            <a href="#" class="hover:opacity-75">
                <img src="{{ post.image.url }}" alt="">
            </a>
            {% endif %}
            <div class="bg-white flex flex-col justify-start p-6">
                <a href="{% url 'category_detail' post.category.slug %}" class="text-blue-700 text-sm font-bold uppercase pb-4">{{ post.category.title }}</a>
                <a href="{% url 'post_detail' post.slug %}" class="text-3xl font-bold hover:text-gray-700 pb-4">{{ post.title }}</a>
                <p href="#" class="text-sm pb-3">
                    By <a href="#" class="font-semibold hover:text-gray-800">{{ post.author }}</a>, Published on {{ post.created_at | date:"M d, Y" }}
                </p>
                <a href="#" class="pb-6">{{ post.intro | safe }}</a>
                <a href="{% url 'post_detail' post.slug %}" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
            </div>
        </article>
    {% endfor %}


        <!-- Pagination -->
        {% include 'pagination.html' with page=posts %}
        <!-- <div class="flex items-center py-8">
            <a href="#" class="h-10 w-10 bg-blue-800 hover:bg-blue-600 font-semibold text-white text-sm flex items-center justify-center">1</a>
            <a href="#" class="h-10 w-10 font-semibold text-gray-800 hover:bg-blue-600 hover:text-white text-sm flex items-center justify-center">2</a>
            <a href="#" class="h-10 w-10 font-semibold text-gray-800 hover:text-gray-900 text-sm flex items-center justify-center ml-3">Next <i class="fas fa-arrow-right ml-2"></i></a>
        </div> -->

</section>
{% endblock %}