{% extends 'base.html' %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <h1 class="title">{{ category.title }}</h1>
    
    {% for post in category.posts.all %}
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <section class="section">
                        <div class="columns">
                            <div class="column is-8 is-offset-2">
                                <div class="content is-medium">
                                    <h2 class="subtitle is-6">{{ post.created_at | date:"M d, Y" }}</h2>
                                    <h1 class="title">{{ post.title }}</h1>
                                    <p>{{ post.intro }}</p>
                                    <a href="{% url 'post_detail' post.slug %}">Read more</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}