{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load markdown_deux_tags %}
    {% for post in posts %}
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <section class="section">
                        <div class="columns">
                            <div class="column is-8 is-offset-2">
                                <div class="content is-medium">
                                        <h2 class="subtitle is-6">{{ post.created_at | date:"M d, Y" }}</h2>
                                        <h1 class="title">{{ post.title }}</h1>
                                        {% if post.image %}
                                            <figure class="image">
                                                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                            </figure>
                                        {% endif %}
                                        <a href="{% url 'post_detail' post.slug %}">
                                            <p>{{ post.intro }}</p>
                                        </a>
                                        category: <a href="{% url 'category_detail' post.category.slug %}">{{ post.category.title }}</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}