{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
{% load markdown_deux_tags %}
<!-- Posts Section -->
<section class="w-full md:w-2/3 flex flex-col items-center px-3">
    <article class="flex flex-col shadow my-4">
        <!-- Article Image -->
        {% if post.image %}
        <a href="#" class="hover:opacity-75">
            <img src="{{ post.image.url }}" alt="">
        </a>
        {% endif %}
        <div class="bg-white flex flex-col justify-start p-6">
            <a href="{% url 'category_detail' post.category.slug %}" class="text-blue-700 text-sm font-bold uppercase pb-4">{{ post.category.title }}</a>
            <a href="{% url 'post_detail' post.slug %}" class="text-3xl font-bold hover:text-gray-700 pb-4">{{ post.title }}</a>
            <p href="#" class="text-sm pb-3">
                By <a href="#" class="font-semibold hover:text-gray-800">{{ post.author }}</a>, Published on {{ post.created_at | date:"M d, Y" }}
            </p>
            <h1 class="text-2xl font-bold pb-3"></h1>
                <p class="pb-3">{{ post.content | safe }}</p>
        </div>
    </article>

    <!-- Sentiment Analysis -->
    <div class="bg-white flex flex-col justify-start p-6">
        <h2 class="text-lg font-bold mb-4">Sentiment Analysis</h2>
        <p class="text-sm pb-3">Sentiment Score: {{ sentiment }}</p>
    </div>

    <!-- Recommended Posts -->
    <div class="bg-white flex flex-col justify-start p-6">
        <h2 class="text-lg font-bold mb-4">Recommended Posts</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% for recommendation in recommendations %}
                <div class="flex flex-col shadow-lg">
                    {% if recommendation.image %}
                    <a href="{% url 'post_detail' recommendation.slug %}" class="hover:opacity-75">
                        <img src="{{ recommendation.image.url }}" alt="" class="w-full h-48 object-cover">
                    </a>
                    {% endif %}
                    <div class="bg-white flex flex-col justify-start p-4">
                        <a href="{% url 'post_detail' recommendation.slug %}" class="text-lg font-bold hover:text-gray-700">{{ recommendation.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Comments Section -->
    <div class="container mx-auto mt-8">
        <div class="bg-gray-100 p-6 rounded-lg shadow-md">
            <h2 class="text-lg font-bold mb-4">Add a comment</h2>
            <form class="bg-white p-4 rounded-lg shadow-md mb-6" action="{% url 'post_detail' post.slug %}" method="post">
                {% csrf_token %}
                {{ form.errors }}
                {% for field in form %}
                    <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2" for="name">{{ field.label }}</label>
                        <input type="{{ field.field.widget.input_type }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" {{ field }}>
                        </input>
                    </div>
                {% endfor %}
                <button
                    class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Submit
                </button>
            </form>
            
            <h2 class="text-lg font-bold mb-4">Comments</h2>
            <div class="flex flex-col space-y-4">
                {% if not post.comments.all %}
                    <p class="text-gray-700">No comments yet</p>
                {% endif %}
                {% for comment in post.comments.all %}
                    <div class="bg-white p-4 rounded-lg shadow-md">
                        <h3 class="text-lg font-bold">{{ comment.name }}</h3>
                        <p class="text-gray-700 text-sm mb-2">Posted {{ comment.created_at | timesince }} ago</p>
                        <p class="text-gray-700">{{ comment.contents }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
