{% extends 'base.html' %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">Terms and Conditions</h1>
        
        <h2>1. Introduction</h2>
        <p>Welcome to MailStation.Tech!</p>
        
        <h2>2. Agreement to Terms</h2>
        <p>By accessing or using MailStation.Tech, you agree to be bound by these Terms and Conditions ("Terms"). If you disagree with any part of the terms, then you may not access the Service.</p>
        
        <h2>3. Intellectual Property Rights</h2>
        <p>The content, design, and logos on MailStation.Tech are owned by or licensed to us. You may not use, reproduce, or distribute any part of the content without our express written permission.</p>
        
        <h2>4. User Contributions</h2>
        <p>Users may post content on MailStation.Tech as permitted by the functionality of the site. By posting content, you grant us the right to use, reproduce, modify, adapt, publish, translate, distribute, and display such content throughout the world in any media.</p>
        
        <h2>5. Privacy</h2>
        <p>Your privacy is important to us. Our Privacy Policy explains how we collect, use, and disclose information about you. By using MailStation.Tech, you consent to the terms of our Privacy Policy.</p>
        
        <h2>6. Limitation of Liability</h2>
        <p>We are not liable for any indirect, incidental, special, consequential, or punitive damages arising out of or relating to your use of MailStation.Tech.</p>
        
        <h2>7. Governing Law</h2>
        <p>These Terms shall be governed by and construed in accordance with the laws of USA, without regard to its conflict of law provisions.</p>
        
        <h2>8. Changes to Terms</h2>
        <p>We reserve the right to modify or replace these Terms at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
        
        <h2>9. Contact Us</h2>
        <p>If you have any questions about these Terms, please contact us:</p>
        <ul>
            <li>By email: Oluwaseyiayoola97@gmail.com</li>
            <li>By visiting this page on our website: https://mailstation.tech/privacy_policy/</li>
        </ul>
    </div>
</section>

{% endblock %}
